:root {
    /* color */
    --pink: #fcc;
    --blue-light: #eef;
    --pink-dark: #c08;
    --blue-dark: #335;
    --yellow: #ffd;

    --background: #ffd;
    --foreground: var(--pink-dark);

    /* space */
    --s100: 1px;
    --s200: .375rem;
    --s300: .75rem;
    --s400: 1.5rem;
    --s500: 3rem;
    --s600: 4.5rem;
    --s700: 7.5rem;
    --s800: 12rem;
    --s900: 19.5rem;
    --s1000: 31.5rem;

    --s-100: -1px;
    --s-200: -.375rem;
    --s-300: -.75rem;
    --s-400: -1.5rem;
    --s-500: -3rem;
    --s-600: -4.5rem;
    --s-700: -7.5rem;
    --s-800: -12rem;
    --s-900: -19.5rem;
    --s1-000: -31.5rem;

    --sReadable: 31.5rem;

    /* font */

    --f: sans-serif;
    --f200: 200 var(--s200)/2 var(--f);
    --f300: 300 var(--s300)/2 var(--f);
    --f400: 400 var(--s400)/1.5 var(--f);
    --f500: 600 var(--s500)/1.5 var(--f);
    --f600: 700 var(--s600)/1.5 var(--f);

    /* border */
    --b: solid --foreground;
    --b100: var(--s100) var(--b);
    --b200: var(--s200) var(--b);
    --b300: var(--s300) var(--b);
    --b400: var(--s400) var(--b);
    --border: var(--b100);

    font-size: calc(.75em + .375vw + .375vh);
    font-weight: lighter;
    line-height: 1.5;


    background: var(--background);
    box-sizing: border-box;
    color: var(--foreground);
    margin: 0;
    padding: 0 var(--s400) 0 0;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
}

.f200 { 
    font: var(--f200);
    letter-spacing: var(--s100);
}
.f300 { font: var(--f300) }
.f400 { font: var(--f400) }
.f500 { font: var(--f500) }

.Icons {
    height: 0;
    float: left;
    overflow: hidden;
}

buttons,
input,
* {
    background: transparent;
    box-sizing: inherit;
    color: inherit;
    font: var(--f400);
    scroll-behavior: smooth;
}
label,
button,
input {
    cursor: pointer;
}
*:focus {
    background: var(--foreground);
    color: var(--background);
    outline: none;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font: var(--f400);
}

.Controls {
    display: flex;
    margin: var(--s300) 0 0;
    padding:  0;
    position: sticky;
    top: var(--s300);
    width: var(--s700);
    flex-direction: column;
}

.Controls > * {
    margin: 0;
}

.Control {
    border: none;
    display: block;
    padding: var(--s300);
    position: relative;
    text-align: center;
}

.Control:focus-within {
    background: var(--foreground); 
    color: var(--background);
}

.Control__label {
    display: block;
    font: var(--f300);
    padding: 0;
}
.Control__icon {
    vertical-align: middle;
    height: var(--s500);
    width: auto;
    margin: 0 auto;
}

.Control__input {
    overflow: hidden;
    height: .1px;
    width: .1px;
    display: block;
    -webkit-appearance: none;
}

.Layout {
    display: flex;
    flex-direction: row-reverse;   
    justify-content: space-between;
    align-items: flex-start;
}

.TrackList {
    padding: 0 0 var(--s900);
    list-style-type: none;
}

.TrackList__wrapper {
    padding: 0;
}

.TrackList__wrapper > * {
    margin: 0;
}

.TrackList__wrapper > * + * {
    margin-top: var(--s300);
}

.TrackList > * {
    margin: 0;
    padding: var(--s500) var(--s500) var(--s400);
    position: relative;
}

.TrackList > * + * {
    border-top: 0;
}

.TrackList__currentlyPlaying {
    font: var(--f300);
    height: var(--s300);
    margin: 0;
    padding: 0;
    position: absolute;
    top: var(--s400);left: var(--s500);right: var(--s400);
    vertical-align: middle;
}

.TrackList__icon {
    display: inline-block;
    height: var(--s300);
    vertical-align: middle;
    width: auto;
    margin-right: var(--s300);
}

.Track {
    display: inline;
    line-height: 1.5;
    font: var(--f500);
    border: none;
    padding: 0;
    text-align: inherit;
    margin-left: var(--s-100);
    -webkit-appearance: none;
}

@media screen and (min-width: 32em) {
    .Track {
            font: var(--f600);
    }
}

.Track:focus {
    outline: var(--s100) solid;
}

.Track__meta {
    font: var(--f400);
    margin: 0;
    padding: 0;
}
