:root {
    /* color */
    --pink: #fcc;
    --blue-light: #eef;
    --pink-dark: #c08;
    --blue-dark: #335;
    --yellow: #ffd;

    --background: #ffd;
    --foreground: var(--pink-dark);

    /* space */
    --s100: 1px;
    --s200: .5rem;
    --s300: .75rem;
    --s400: 1rem;
    --s400-plus: max( calc(var(--s300) + 4vw ), var(--s400) );
    --s500: 2rem;
    --s600: 3rem;
    --s700: 5rem;
    --s800: 8rem;
    --s900: 13rem;
    --s1000: 21rem;

    --s-100: -1px;
    --s-200: -.375rem;
    --s-300: -.75rem;
    --s-400: -1.5rem;
    --s-500: -3rem;
    --s-600: -4.5rem;
    --s-700: -7.5rem;
    --s-800: -12rem;
    --s-900: -19.5rem;
    --s1-000: -31.5rem;

    --sReadable: 31.5rem;

    /* font */

    --f: sans-serif;
    --f200: 200 var(--s200)/calc(1em + .5rem) var(--f);
    --f300: 300 var(--s400)/calc(1em + .5rem) var(--f);
    --f400: 400 var(--s400)/calc(1em + .5rem) var(--f);
    --f500: 600 var(--s400-plus)/calc(1em + .5rem) var(--f);
    --f600: 900 3.6rem var(--f);

    /* border */
    --b: solid  var(--foreground);
    --b100: var(--s100) var(--b);
    --b200: var(--s200) var(--b);
    --b300: var(--s300) var(--b);
    --b400: var(--s400) var(--b);
    --border: var(--b100);

    font-size: max(1rem, calc(.75em + .375vw + .375vh)) ;
    font-weight: lighter;
    background: var(--background);
    box-sizing: border-box;
    color: var(--foreground);
    margin: 0;
    padding: 0;
}
*,
button {
    line-height: calc( 1em + .5rem );
    appearance: none;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
}

.f200 { 
    font: var(--f200);
    letter-spacing: var(--s100);
}
.f300 { font: var(--f300) }
.f400 { font: var(--f400) }
.f500 { font: var(--f500) }

.Icons {
    height: 0;
    float: left;
    overflow: hidden;
}

buttons,
input,
* {
    background: transparent;
    box-sizing: inherit;
    color: inherit;
    font: var(--f400);
    scroll-behavior: smooth;
}
label,
button,
input {
    cursor: pointer;
}
*:focus {
    background: var(--foreground);
    color: var(--background);
    outline: none;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font: var(--f400);
}

.Controls {
    display: flex;
    margin: var(--s500) 0 0;
    padding:  0 5% 0 0;
    position: sticky;
    top:  var(--s500);
    flex-direction: column;
}

.Controls > * {
    margin: 0 0 3.75vh;
}

.Control {
    border: none;
    display: block;
    padding: 0;
    position: relative;
    text-align: center;
}

.Control:focus-within {
    background: var(--foreground); 
    color: var(--background);
}

.Control__label {
    display: block;
    font: var(--f300);
    padding: 0;
}
.Control__icon {
    vertical-align: middle;
    height: var(--s400-plus);
    width: auto;
    margin: 0 auto;
}

.Control__input {
    overflow: hidden;
    height: .1px;
    width: .1px;
    display: block;
    -webkit-appearance: none;
}

.Layout {
    display: flex;
    flex-direction: row-reverse;   
    justify-content: space-between;
    align-items: flex-start;
}
.Layout > section {
    flex-grow: 1;
}

.TrackList {
    padding: 0 0 var(--s900);
    list-style-type: none;
}

.TrackList__wrapper {
    padding: 0;
}

.TrackList__wrapper > * {
    margin: 0;
}

.TrackList > * {
    margin: 0;
    padding: var(--s500) 0 var(--s400) 5vw;
    position: relative;
}

.TrackList > * + * {
    border-top: 0;
}

.TrackList__currentlyPlaying {
    background-color: var(--foreground);
    color: var(--background);
    font: var(--f300);
    margin: 0;
    padding: 0 5vw 0 0;
    position: absolute;
    top: var(--s200); left: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.TrackList__currentlyPlaying::before {
    content: '▶';
    display: inline-block;
    min-width: 5vw;
    text-align: center;
}

.Track {
    display: inline;
    font: var(--f500);
    border: none;
    padding: 0;
    text-align: inherit;
    margin-left: var(--s-100);
    -webkit-appearance: none;
}

.Track:focus {
    outline: var(--s100) solid;
}

.Track__meta {
    font: var(--f400);
    margin: 0;
    padding: 0;
}
